In [20]:
import click
import pandas as pd
from sqlalchemy import create_engine
from tqdm.auto import tqdm

In [21]:
df = pd.read_csv('../homework/taxi_zone_lookup.csv')

In [22]:
# Display first rows
df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [23]:
# Check data types
df.dtypes

LocationID       int64
Borough         object
Zone            object
service_zone    object
dtype: object

In [24]:
# Check data shape
df.shape

(265, 4)

In [25]:
engine = create_engine('postgresql://root:root@192.168.111.134:5432/ny_taxi')

In [26]:
print(pd.io.sql.get_schema(df, name='taxi_zone_lookup', con=engine))

CREATE TABLE taxi_zone_lookup (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [28]:
df.head(n=0).to_sql(name='taxi_zone_lookup', con=engine, if_exists='replace')

0

In [29]:
df_iter = pd.read_csv(
        '../homework/taxi_zone_lookup.csv', iterator=True, chunksize=100000
    )

In [30]:
first_chunk = next(df_iter)

first_chunk.head(0).to_sql(
    name="taxi_zone_lookup",
    con=engine,
    if_exists="replace"
)

print("Table created")

first_chunk.to_sql(
    name="taxi_zone_lookup",
    con=engine,
    if_exists="append"
)

print("Inserted first chunk:", len(first_chunk))

for df_chunk in tqdm(df_iter):
    df_chunk.to_sql(
        name="taxi_zone_lookup",
        con=engine,
        if_exists="append"
    )
    print("Inserted chunk:", len(df_chunk))

Table created
Inserted first chunk: 265

0it [00:00, ?it/s]